<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookInfoAI</title>
    <link rel="stylesheet" type="text/css" href="../static/css/app.css">
  </head>
  <body>
    <main>
      <section>
        <h1>BookInfoAI</h1>
        <p>Turn on your camera to analyze a book!</p>
      </section>

      <section>
        <div id="camera-container">
          <video id="videoElement" autoplay></video>
          <button id="startButton">Start Webcam</button>
          <button id="captureButton">Capture Photo</button>
          <canvas id="canvasElement" style="display: none;"></canvas>
          <img id="photoElement" style="display: none;">
        </div>
      </section>
    </main>
    <script src="../static/js/app.js"></script>
  </body>
  
</html>