<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookInfoAI</title>
  <link rel="stylesheet" type="text/css" href="../static/css/app.css">
</head>
<body>
  <main>
    <section>
      <h1>BookInfoAI</h1>
      <p>Turn your camera on to analyze a book!</p>
    </section>

    <div>
        <img id="videoElement" src="{{ url_for('video_feed') }}" alt="Feed de Vídeo">
    </div>
    
  </main>
</body>
</html>
